
<div>
<div class = "panel panel-info">

<div class = "panel-heading">
<h3 class = "panel-title"><%=wine.name%> </h3>
</div>

<div class = panel-body>

<div class="paste3">
<img alt="" src="pics/<%=wine.name%>.jpg"  height = "325" width = "325">
  <!--  <td><%=wine.grapes %></td>
<td><%=wine.country %></td>
<td><%=wine.region %></td>
<td><%=wine.year %></td>
<td><%=wine.notes %></td>-->
</div>


</div>
</div>
<div class = "panel panel-info">
<div class = "panel-heading">Description</div>
<div  class = "panel-body">

<textarea value = "description"></textarea>
</div>

</div>
</div>